.chart-container {
  flex: 3;
  position: relative;
  background: #fff;
  border: 1px solid #d6d8db;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
  max-height: 400px;
  min-height: 400px;
}

.apexcharts-tooltip {
  opacity: 0.7 !important;
  top: -0.5rem !important;
  left: 8px !important;
  box-shadow: none !important;
  border: none !important;
}

.custom-apex-tooltip {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 8px;
  font-size: 13px;
  background: #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .apexcharts-tooltip {
    left: auto !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #ccc !important;
  }

  .custom-apex-tooltip {
    flex-direction: column;
  }
}
