.chart-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.chart-container {
  position: relative;
  background: #fff;
  border: 1px solid #d6d8db;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06);
  padding: .5rem 0 0 0;
  min-width: 300px;
  height: 350px;
}

.apexcharts-tooltip {
  opacity: .7 !important;
  top: -.5rem !important;
  left: 0px !important;
  box-shadow: none !important;
  border: none !important;
}

.custom-apex-tooltip {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding: 8px;
  font-size: 13px;
  background: #ffffff;
  border-radius: 4px;
}
