.chat-container {
  flex: 1;
  width: 100%;
  max-width: 400px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 52px;
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f2f2f7;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: #f2f2f7;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

.message-row {
  display: flex;
}

.message-row.user {
  justify-content: flex-end;
}

.message-row.bot {
  justify-content: flex-start;
}

.chat-message {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 0.95rem;
  line-height: 1.4;
}

.chat-message p{
  margin: 0;
}

.chat-message.user {
  background-color: #8b9a77;
  color: #fff;
  border-bottom-right-radius: 4px;
}

.chat-message.bot {
  background-color: #e5e5ea;
  color: #000;
  border-bottom-left-radius: 4px;
}

.chat-input-area {
  display: flex;
  border: 1px solid var(--primary-border);
  border-radius: 25px;
  padding: 0.5rem 0.75rem;
  align-items: center;
  margin-top: 0.75rem;
  background-color: #ffffff;
}

.chat-input-area textarea {
  flex: 1;
  padding: 0.5rem;
  resize: none;
  border: none;
  font-size: 1rem;
  height: 40px;
  background-color: transparent;
  color: #4d4d4d;
  font-family: inherit;
}

.chat-input-area textarea:focus {
  outline: none;
}

.chat-input-area button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #8b9a77;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.chat-input-area button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}
