.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  min-height: 60px;
  background: #ccd2d7;
  border-bottom: 1px solid var(--primary-border);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.logo {
  font-weight: 700;
  color: var(--primary-font);
  font-size: 1.1rem;
}

.logo-accent {
  color: var(--primary-accent);
  margin-left: 4px;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: left;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: left;
}

.header-right {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}
