.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound-title {
  font-size: 6rem;
  font-weight: 700;
  color: #8f9779;
  letter-spacing: 2px;
}

.notfound-message {
  font-size: 1.25rem;
  color: var(--primary-label);
}

.notfound-button {
  background-color: #8f9779;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
}
