.profile-container {
  background: #fff;
  color: #1d1d1f;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid var(--primary-border)
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-grid > :nth-child(1),
.profile-grid > :nth-child(3) {
  border-right: 1px solid var(--primary-border);
  padding: 2rem 0 2rem 2rem;
}

.profile-grid > :nth-child(3),
.profile-grid > :nth-child(4) {
  border-bottom: 1px solid var(--primary-border);
}

.profile-grid > :nth-child(2),
.profile-grid > :nth-child(4) {
  padding: 2rem 2rem 2rem 0;
}

.label {
  font-size: 0.8rem;
  color: var(--primary-label);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 0.15rem;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 600;
}

.company-description {
  max-width: 750px;
  margin: 2.5rem auto 0 auto;
  color: var(--secondary-font);
  line-height: 1.6;
  font-size: 1rem;
  text-align: left;
}

.read-more-text {
  color: var(--primary-accent);
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  user-select: none;
}

.read-more-text:hover {
  color: var(--primary-font);
}

@media (max-width: 800px) {
  .profile-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem 0;
  }

  .profile-grid > :nth-child(1),
  .profile-grid > :nth-child(2),
  .profile-grid > :nth-child(3),
  .profile-grid > :nth-child(4) {
    border: none;
    padding: 0;
  }

  .company-description {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
