.search-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.search-home form {
  width: 80%;
  min-width: 240px;
  max-width: 700px;
  height: 3.5rem;
}

.search-header {
  width: 90%;
}

.search-header form {
  height: 42px;
}

.search-header.search-container form:hover,
.search-header.search-container form:focus-within {
  box-shadow: 0 2px 8px var(--primary-accent);
}

.search-container form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--primary-border);
  border-radius: 2rem;
  padding: 0.2rem 0rem;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.search-container form:hover,
.search-container form:focus-within {
  border-color: var(--primary-accent);
  box-shadow: 0 2px 6px rgba(76, 139, 245, 0.2);
}

.search-icon {
  width: 1rem;
  height: 1rem;
  color: var(--label);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--primary-font);
  background: transparent;
  padding-left: 1rem;
}

.search-input::placeholder {
  color: var(--primary-label);
}

.search-home .search-button {
  padding: 0.75rem 1.5rem;
}

.search-header .search-button {
  padding: 0.25rem 1rem;
}

.search-button {
  border: none;
  background-color: #ccd2d7;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.search-button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
  transform: none;
  box-shadow: none;
  background-color: inherit;
}

.search-button:hover {
  background-color: #e4e8ea;
}

@media (max-width: 600px) {
  .search-home form {
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem !important;
  }

  .search-home input {
    padding-left: 0.5rem;
  }

  .search-home .search-button {
    padding: 0.5rem 1rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .search-header {
    width: 100%;
  }
}
