.chart-container {
  background: #fff;
  border: 1px solid #d6d8db;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06);
  padding: .5rem 0 0 0;
  width: 70%;
  min-width: 300px;
  height: 400px;
}
