.inner-container {
  width: 85%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title-container {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-left: 1rem;
}

.company-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-font);
}

.company-symbol a {
  color: var(--primary-accent);
  font-size: 1rem;
}

.company-symbol a:hover {
  color: var(--primary-font);
}

.inner-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
}

.left-column {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .inner-container {
    width: 95%;
  }
}
