.inner-container {
  width: 85%;
  height: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.left-column {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company-name-container {
  display: flex;
  padding: 0 .5rem;
  text-align: left;
  align-items: center;
  gap: .5rem;
}

.company-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-font);
}

.company-symbol a {
  color: var(--secondary-accent);
  font-size: 1rem;
}

.company-symbol a:hover {
  color: var(--primary-font);
}

@media screen and (max-width: 1000px) {
  .inner-container {
    width: 95%;
  }
}
