.flash-message {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d5a4a4;
  color: #a91515;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  animation: fadeInOut 7s forwards;
}

.flash-message button {
  position: absolute;
  top: 0px;
  right: 2px;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 1001;
  border-radius: 2rem;
}

.flash-message button:hover {
  color: var(--primary-font)
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
