:root {
  --primary-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --primary-bg: #f7f8fa;
  --secondary-bg: #2f3542;
  --primary-font: #33323a;
  --secondary-font: #4b4b52;
  --primary-label: #86868b;
  --primary-accent: #378b97;
  --primary-border: #d6d8db;
  --secondary-border: #64748b;
  --primary-message: #5a91b8;

  --chat-label-color: #a8b5b9;
  --header-footer-color: #d5dbe3;
  --header-footer-bg: linear-gradient(90deg, #0e1c2d, #253142);
}

#root {
  padding: 0;
  text-align: center;
  font-family: var(--primary-font-family);
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inner-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  min-height: calc(100vh - 92px);
}
