:root {
  --primary-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --primary-bg: #f7f8fa;
  --secondary-bg: #2f3542;
  --primary-font: #33323a;
  --secondary-font: #4b4b52;
  --primary-label: #86868b;
  --primary-accent: #8a6b9b;
  --primary-border: #d6d8db;
  --secondary-border: #e3dfe6;
  --secondary-accent: #7B9EA8;
}

#root {
  padding: 0;
  text-align: center;
  font-family: var(--primary-font-family);
}

.inner-container {
  width: 85%;
  height: 100vh;
  margin: 1rem auto;
}

.main-layout {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.left-column {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company-name-container {
  display: flex;
  padding: 0 .5rem;
  text-align: left;
  align-items: center;
  gap: .5rem;
}

.company-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-font);
}

.company-symbol a {
  color: var(--secondary-accent);
  font-size: 1rem;
}

.company-symbol a:hover {
  color: var(--primary-font);
}

@media screen and (max-width: 1000px) {
  .inner-container {
    width: 95%;
  }
}
