#root {
  padding: 0;
  text-align: center;
}

:root {
  --primary-bg: #f6f4f7;
  --primary-font: #33323a;
  --primary-accent: #8a6b9b;
  --primary-border: #e3dfe6;
}

.inner-container {
  width: 90%;
  margin: 1rem auto;
}

.main-layout {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .inner-container {
    width: 95%;
  }
}
