:root {
  --primary-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  --primary-bg: #f7f8fa;
  --secondary-bg: #2f3542;
  --primary-font: #33323a;
  --secondary-font: #4b4b52;
  --primary-label: #86868b;
  --secondary-label: #1E2D30;
  --primary-accent: #7B9EA8;
  --primary-border: #d6d8db;
  --secondary-border: #e3dfe6;
  --primary-message: #8a6b9b;
}

#root {
  padding: 0;
  text-align: center;
  font-family: var(--primary-font-family);
}

.app-container {
  display: flex;
  flex-direction: column;
}
